In [67]:
import pandas as pd
import sqlite3

#Set connection to SQLite Database
conn=sqlite3.connect("Vet-Suicide-Rates.db")
c=conn.cursor()

#open and read file
open("num-of-suic-by-state.csv")
df=pd.read_csv("num-of-suic-by-state.csv")
#print(df) #error check and check actual names for columns in preparation for changing column names to an acceptable format for SQlite

#Rename Columns
df.rename(columns={"Year\nof\nDeath":'Year', "Geographic\nRegion":'Region','State of Death':'State', 'Veteran\nSuicides':"Suicides"},inplace=True)
# ndf.head()
# print(df)#error check

#export to SQLite DB
df.to_sql('NumofSuicByState.sql',conn,if_exists='replace',index=False)

1040

In [7]:
import pandas as pd
import sqlite3

#Set connection to SQLite Database
conn=sqlite3.connect("Vet-Suicide-Rates.db")
c=conn.cursor()

#open and read file
open("Rates_by_Sex.csv")
ndf=pd.read_csv("Rates_by_Sex.csv")
# print(df) #error check and check actual names for columns in preparation for changing column names to an acceptable format for SQlite

#Rename Columns
ndf.rename(columns={'Year':'Year',"Veteran\nSuicide\nDeaths":'SuicideDeaths', "Veteran\nPopulation\nEstimate":'VeteranPop','Veteran\nCrude\nRate per\n100,000':'CrudeRate/100,000', 'Veteran\nAge-\nAdjusted\nRate per\n100,000':"AgeAdjustedRate/100,000",'Veteran\nAge- and\nSex-\nAdjusted\nRate per\n100,000':'AgeAndSexAdjustedRate/100,000',"Male Veteran\nSuicide\nDeaths":'MaleSuicides', "Male Veteran\nPopulation\nEstimate":'MalePopEst','Male\nVeteran\nCrude\nRate per\n100,000':'MaleCrudeRate/100,000', 'Male\nVeteran\nAge-\nAdjusted\nRate per\n100,000':"MaleAgeAdjustedRate/100,000",'Female\nVeteran\nSuicide\nDeaths':"FemaleSuicides",'Female\nVeteran\nPopulation\nEstimate':'FemalePopEst','Female\nVeteran\nCrude\nRate per\n100,000':'FemaleCrudeRate/100,000','Female\nVeteran\nAge-\nAdjusted\nRate per\n100,000':'FemaleAgeAdjustedRate/100,000'},inplace=True)
# ndf.head()
# print(ndf)#error check

# #export to SQLite DB
ndf.to_sql('RatesBySex.sql',conn,if_exists='replace',index=False)

    Year SuicideDeaths  VeteranPop  CrudeRate/100,000
0   2001         6,001  25,733,000               23.3  \
1   2002         6,138  25,398,000               24.2
2   2003         6,005  24,993,000               24.0
3   2004         6,004  24,756,000               24.3
4   2005         6,123  24,600,000               24.9
5   2006         6,035  24,117,000               25.0
6   2007         6,249  23,649,000               26.4
7   2008         6,566  23,333,000               28.1
8   2009         6,518  22,983,000               28.4
9   2010         6,548  22,752,000               28.8
10  2011         6,447  22,521,000               28.6
11  2012         6,442  22,193,000               29.0
12  2013         6,503  22,000,000               29.6
13  2014         6,647  21,666,000               30.7
14  2015         6,624  21,241,000               31.2
15  2016         6,496  20,863,000               31.1
16  2017         6,783  20,480,000               33.1
17  2018         6,796  20,166,000               33.7
18  2019         6,489  19,797,000               32.8
19  2020         6,146  19,403,000               31.7

    AgeAdjustedRate/100,000  AgeAndSexAdjustedRate/100,000 MaleSuicides
0                      24.4                           17.1        5,847  \
1                      24.9                           16.8        6,004
2                      26.1                           18.2        5,853
3                      25.6                           18.1        5,836
4                      25.7                           18.6        5,933
5                      25.4                           18.0        5,862
6                      26.9                           19.2        6,063
7                      28.8                           21.1        6,357
8                      29.0                           21.6        6,289
9                      29.5                           22.0        6,313
10                     30.1                           22.8        6,194
11                     30.9                           23.0        6,201
12                     32.1                           24.1        6,249
13                     32.9                           25.3        6,353
14                     34.3                           26.6        6,309
15                     34.6                           26.5        6,197
16                     36.4                           29.3        6,405
17                     37.3                           29.5        6,439
18                     35.9                           27.9        6,144
19                     35.4                           26.6        5,870

    MalePopEst  MaleCrudeRate/100,000  MaleAgeAdjustedRate/100,000
0   24,112,000                   24.2                         26.0  \
1   23,720,000                   25.3                         26.8
2   23,288,000                   25.1                         28.1
3   23,002,000                   25.4                         27.5
4   22,757,000                   26.1                         27.6
5   22,295,000                   26.3                         27.5
6   21,871,000                   27.7                         29.2
7   21,593,000                   29.4                         31.2
8   21,203,000                   29.7                         31.1
9   20,967,000                   30.1                         31.9
10  20,694,000                   29.9                         32.5
11  20,348,000                   30.5                         33.7
12  20,127,000                   31.0                         35.0
13  19,791,000                   32.1                         35.7
14  19,331,000                   32.6                         37.3
15  18,964,000                   32.7                         37.9
16  18,543,000                   34.5                         39.4
17  18,201,000                   35.4                         40.5
18  17,805,000                   34.5                         39.3
19  17,403,000                   33.7                         39.0

    FemaleSuicides FemalePopEst  FemaleCrudeRate/100,000
0              154    1,621,000                      9.5  \
1              134    1,678,000                      8.0
2              152    1,705,000                      8.9
3              168    1,754,000                      9.6
4              190    1,843,000                     10.3
5              173    1,822,000                      9.5
6              186    1,778,000                     10.5
7              209    1,740,000                     12.0
8              229    1,780,000                     12.9
9              235    1,785,000                     13.2
10             253    1,827,000                     13.8
11             241    1,845,000                     13.1
12             254    1,873,000                     13.6
13             294    1,875,000                     15.7
14             315    1,910,000                     16.5
15             299    1,899,000                     15.7
16             378    1,937,000                     19.5
17             357    1,965,000                     18.2
18             345    1,992,000                     17.3
19             276    2,000,000                     13.8

    FemaleAgeAdjustedRate/100,000
0                             9.1
1                             7.6
2                             9.0
3                             9.5
4                            10.5
5                             9.3
6                            10.2
7                            11.9
8                            13.0
9                            12.9
10                           13.8
11                           12.9
12                           13.7
13                           15.5
14                           16.3
15                           15.5
16                           19.9
17                           19.0
18                           17.1
19                           14.7

20

In [11]:
import pandas as pd
import sqlite3

#Set connection to SQLite Database
conn=sqlite3.connect("Vet-Suicide-Rates.db")
c=conn.cursor()

#open and read file
open("Rates-by-Hispanic-National.csv")
ndf=pd.read_csv("Rates-by-Hispanic-National.csv")
# print(ndf) #error check and check actual names for columns in preparation for changing column names to an acceptable format for SQlite

#Rename Columns
ndf.rename(columns={'Year\nof\nDeath':'Year',"Number of Suicide Deaths":'NumofHispanicSuicide', "Crude Rate":'HispanicCrudeRate/100,000','Number of Suicide Deaths.1':'NumofNonHispanicSuicide', 'Crude Rate.1':"NonHispanicCrudeRate/100,000",'Number of Suicide Deaths.2':'HispanicAffiliationUnkown'},inplace=True)
# ndf.head()
# print(ndf)#error check

#export to SQLite DB
ndf.to_sql('HispanicAffiliationRates.sql',conn,if_exists='replace',index=False)

    Year  NumofHispanicSuicide  HispanicCrudeRate/100,000
0   2001                   149                       13.8  \
1   2002                   151                       13.6
2   2003                   148                       12.9
3   2004                   162                       14.3
4   2005                   152                       13.3
5   2006                   145                       12.6
6   2007                   170                       14.9
7   2008                   154                       13.0
8   2009                   164                       13.7
9   2010                   205                       16.9
10  2011                   237                       19.1
11  2012                   214                       16.8
12  2013                   197                       15.2
13  2014                   255                       19.2
14  2015                   235                       17.1
15  2016                   266                       19.6
16  2017                   272                       19.3
17  2018                   270                       18.1
18  2019                   273                       18.0
19  2020                   284                       18.6

   NumofNonHispanicSuicide  NonHispanicCrudeRate/100,000
0                    4,994                          20.2  \
1                    5,145                          21.2
2                    5,089                          21.3
3                    5,101                          21.6
4                    5,398                          23.0
5                    5,405                          23.5
6                    5,547                          24.6
7                    5,581                          25.1
8                    5,310                          24.3
9                    6,094                          28.2
10                   6,037                          28.3
11                   6,060                          28.9
12                   6,141                          29.6
13                   6,205                          30.4
14                   6,209                          31.2
15                   6,055                          30.9
16                   6,332                          33.1
17                   6,346                          33.9
18                   6,014                          32.8
19                   5,643                          31.4

   HispanicAffiliationUnkown Percent
0                        858   14.3%
1                        842   13.7%
2                        768   12.8%
3                        741   12.3%
4                        573    9.4%
5                        485    8.0%
6                        532    8.5%
7                        831   12.7%
8                      1,044   16.0%
9                        249    3.8%
10                       173    2.7%
11                       168    2.6%
12                       165    2.5%
13                       187    2.8%
14                       180    2.7%
15                       175    2.7%
16                       179    2.6%
17                       180    2.6%
18                       202    3.1%
19                       219    3.6%

20

In [34]:
import pandas as pd
import sqlite3

#Set connection to SQLite Database
conn=sqlite3.connect("Vet-Suicide-Rates.db")
c=conn.cursor()

#open and read file
open("Rates-By-Race-National.csv")
ndf=pd.read_csv("Rates-By-Race-National.csv")

#Set column names index 0
ndf.columns=ndf.iloc[0]
# ndf.head()#Error check

#drop column 0 because header names were originally located there
ndf=ndf.drop([0])
# print(ndf) #error check and check actual names for columns in preparation for changing column names to an acceptable format for SQlite

# #Rename Columns
ndf.rename(columns={'Year\r\nof\r\nDeath':'Year', "WhiteCrudeRate":'WhiteCrudeRate/100,000','AfricanAmericanCrudeRate':"AfricanAmericanCrudeRate/100,000",'NativeCrudeRate':'NativeCrudeRate/100,000','Asian/Hawaiian/PacificIslanderCrudeRate':'Asian/Hawaiian/PacificIslanderCrudeRate/100,000','MultipleRaceCrudeRate':'MultipleRaceCrudeRate'},inplace=True)
# ndf.head()
# print(ndf)#error check

#export to SQLite DB
ndf.to_sql('RatesByRace.sql',conn,if_exists='replace',index=False)

20

In [38]:
import pandas as pd
import sqlite3

#Set connection to SQLite Database
conn=sqlite3.connect("Vet-Suicide-Rates.db")
c=conn.cursor()

#open and read file
open("Rates-by-sex-by-age.csv")
ndf=pd.read_csv("Rates-by-sex-by-age.csv")
# print(ndf) #error check and check actual names for columns in preparation for changing column names to an acceptable format for SQlite

#Rename Columns
ndf.rename(columns={'Year\nof\nDeath':'Year', "Age\nGroup":'AgeGroup','Veteran\nSuicide\nDeaths':"NumofSuicide",'Veteran\nPopulation\nEstimate':'VeteranPopEst','Veteran\nCrude\nRate per\n100,000':'CrudeRate/100,000','Male\nVeteran\nSuicide\nDeaths':'MaleSuicide',"Male\nVeteran\nPopulation\nEstimate":'MalePopEst','Male\nVeteran\nCrude\nRate per\n100,000':'MaleCrudeRate/100,000','Age\nGroup\n2':'AgeGroup2','Female\nVeteran\nSuicide\nDeaths':'FemaleNumofSuicide','Female\nVeteran\nPopulation\nEstimate': 'FemalePopEst','Female\nVeteran\nCrude\nRate per\n100,000':'FemaleCrudeRate/100,000'},inplace=True)
# ndf.head()
# print(ndf)#error check

#export to SQLite DB
ndf.to_sql('RatesBySexandAge.sql',conn,if_exists='replace',index=False)

    Year AgeGroup NumofSuicide VeteranPopEst  CrudeRate/100,000 MaleSuicide
0   2001    18-34          618     2,616,000               23.6         588  \
1   2001    35-54        2,509     8,899,000               28.2       2,402
2   2001    55-74        1,693     9,761,000               17.3       1,682
3   2001      75+        1,178     4,457,000               26.4       1,172
4   2001      All        6,001    25,733,000               23.3       5,847
..   ...      ...          ...           ...                ...         ...
95  2020    18-34          843     1,827,000               46.1         776
96  2020    35-54        1,575     4,950,000               31.8       1,458
97  2020    55-74        2,222     8,096,000               27.4       2,137
98  2020      75+        1,451     4,530,000               32.0       1,445
99  2020      All        6,146    19,403,000               31.7       5,870

    MalePopEst  MaleCrudeRate/100,000 AgeGroup2 FemaleNumofSuicide
0    2,223,000                   26.5     18-34                 30  \
1    8,137,000                   29.5     35-54                107
2    9,512,000                   17.7       55+                 17
3    4,240,000                   27.6         .                  .
4   24,112,000                   24.2       All                154
..         ...                    ...       ...                ...
95   1,484,000                   52.3     18-34                 67
96   4,142,000                   35.2     35-54                117
97   7,387,000                   28.9       55+                 91
98   4,390,000                   32.9         .                  .
99  17,403,000                   33.7       All                276

   FemalePopEst FemaleCrudeRate/100,000
0       393,000                     7.6
1       762,000                    14.0
2       466,000                     3.6
3             .                       .
4     1,621,000                     9.5
..          ...                     ...
95      343,000                    19.5
96      808,000                    14.5
97      849,000                    10.7
98            .                       .
99    2,000,000                    13.8

[100 rows x 12 columns]

100

In [43]:
import pandas as pd
import sqlite3

#Set connection to SQLite Database
conn=sqlite3.connect("Vet-Suicide-Rates.db")
c=conn.cursor()

#open and read file
open("Recent_VHA_By_Age.csv")
ndf=pd.read_csv("Recent_VHA_By_Age.csv")
# print(ndf) #error check and check actual names for columns in preparation for changing column names to an acceptable format for SQlite

#Rename Columns
ndf.rename(columns={'Year\nof\nDeath':'Year', "Age\nGroup":'AgeGroup','VHA\nVeteran\nSuicide\nDeaths':"NumOfRecentVHAuserSuicide",'VHA\nVeteran\nPopulation\nEstimate':'VHAvetPopEst','VHA\nVeteran\nCrude\nRateper\n100000':'RecentVHAuserSuicideCrudeRate/100,000'},inplace=True)
# ndf.head()
# print(ndf)#error check

#export to SQLite DB
ndf.to_sql('RecentVHAbyAge.sql',conn,if_exists='replace',index=False)

100

In [46]:
import pandas as pd
import sqlite3

#Set connection to SQLite Database
conn=sqlite3.connect("Vet-Suicide-Rates.db")
c=conn.cursor()

#open and read file
open("Sex-By-State.csv")
ndf=pd.read_csv("Sex-By-State.csv")
# print(ndf) #error check and check actual names for columns in preparation for changing column names to an acceptable format for SQlite

#Rename Columns
ndf.rename(columns={'Year\nof\nDeath':'Year', "Geographic\nRegion":'GeoRegion','State of Death':"State",'Veteran\nSuicides':'NumofSuicide'},inplace=True)
# ndf.head()
# print(ndf)#error check

#export to SQLite DB
ndf.to_sql('SexByYearAndState.sql',conn,if_exists='replace',index=False)

3120

In [53]:
import pandas as pd
import sqlite3

#Set connection to SQLite Database
conn=sqlite3.connect("Vet-Suicide-Rates.db")
c=conn.cursor()

#open and read file
open("State-By-Age.csv")
ndf=pd.read_csv("State-By-Age.csv")

#Drop unnecessary data
ndf=ndf.drop(["General\nPopulation\nSuicides",'General\nPopulation\nRate per\n100,000'],axis=1)
# print(ndf) #error check and check actual names for columns in preparation for changing column names to an acceptable format for SQlite

#Rename Columns
ndf.rename(columns={"Geographic\nRegion":'GeoRegion','State of Death':"State",'Age\nGroup':'AgeGroup','Veteran\nSuicides':'Suicides','Veteran\nSuicide\nRate\nper\n100,000':'SuicideRate/100,000'},inplace=True)
# ndf.head()
# print(ndf)#error check

#export to SQLite DB
ndf.to_sql('AgeByState.sql',conn,if_exists='replace',index=False)

5600

In [71]:
import pandas as pd
import sqlite3

#Set connection to SQLite Database
conn=sqlite3.connect("Vet-Suicide-Rates.db")
c=conn.cursor()

#open and read file
open("State-By-Race.csv")
ndf=pd.read_csv("State-By-Race.csv")

#Drop Null column
ndf=ndf.drop(['Unnamed: 3'],axis=1)
# print(ndf) #error check and check actual names for columns in preparation for changing column names to an acceptable format for SQlite

#Rename Columns
ndf.rename(columns={"State of Death":'State','All':"TotalNumofSuicide",'American\nIndian /\nAlaska\nNative':'NativeAmerican','Asian,\nNative\nHawaiian,\nor Pacific\nIslander':'Asian/NativeHawaiian/PacificIslander','Multiple\nRace':'MultipleRace','Unknown\nRace':'RaceUnknown','Hispanic\nEthnicity':'HispanicEthnicity','Not\nHispanic\nEthnicity':'NotHispanic','Unknown\nEthnicity':'EthnicityUnknown'},inplace=True)
# ndf.head()
# print(ndf)#error check

#export to SQLite DB
ndf.to_sql('RaceByState.sql',conn,if_exists='replace',index=False)

1040

In [75]:
import pandas as pd
import sqlite3

#Set connection to SQLite Database
conn=sqlite3.connect("Vet-Suicide-Rates.db")
c=conn.cursor()

#open and read file
open("NonRecentVHA.csv")
ndf=pd.read_csv("NonRecentVHA.csv")

#Drop Null column
ndf=ndf.drop(['Other\nVeteran\nAge-\nAdjusted\nRate per\n100,000','Other\nVeteran\nAge- and\nSex-\nAdjusted\nRate per\n100,000','Male\nOther\nVeteran\nAge-\nAdjusted\nRate per\n100,000','Female\nOther\nVeteran\nAge-\nAdjusted\nRate per\n100,000'],axis=1)
# print(ndf) #error check and check actual names for columns in preparation for changing column names to an acceptable format for SQlite

#Rename Columns
ndf.rename(columns={"Year\nof\nDeath":'Year','Other\nVeteran\nSuicide\nDeaths':"NonRecentVHAsuicides",'Other\nVeteran\nPopulation\nEstimate':'NonRecentVHApop','Other\nVeteran\nCrude\nRate per\n100,000':'NonRecentVHAcrudeRate/100,000','Male Other\nVeteran\nSuicide\nDeaths':'NonRecentVHAMaleSuicides','Male Other\nVeteran\nPopulation\nEstimate':'MaleNonRecentVHApopEst','Male\nOther\nVeteran\nCrude\nRate per\n100,000':'MaleNonRecentVHAuserCrudeRate/100,000','Female Other\nVeteran\nSuicide\nDeaths':'FemaleNonRecentVHAuserSuicides','Female Other\nVeteran\nPopulation\nEstimate':'FemaleNonRecentVHAuserPopEst','Female\nOther\nVeteran\nCrude\nRate per\n100,000':'FemaleNonRecentVHAuserCrudeRate/100,000'},inplace=True)
# ndf.head()
# print(ndf)#error check

# #export to SQLite DB
ndf.to_sql('NonRecentVHAbyYear.sql',conn,if_exists='replace',index=False)

    Year NonRecentVHAsuicides NonRecentVHApop  NonRecentVHAcrudeRate/100,000
0   2001                4,430      21,834,281                           20.3  \
1   2002                4,432      21,087,451                           21.0
2   2003                4,367      20,372,751                           21.4
3   2004                4,280      19,961,541                           21.4
4   2005                4,399      19,650,084                           22.4
5   2006                4,226      19,081,426                           22.1
6   2007                4,457      18,550,137                           24.0
7   2008                4,623      18,187,295                           25.4
8   2009                4,619      17,727,701                           26.1
9   2010                4,616      17,287,700                           26.7
10  2011                4,324      16,881,314                           25.6
11  2012                4,334      16,435,686                           26.4
12  2013                4,316      16,157,574                           26.7
13  2014                4,376      15,708,475                           27.9
14  2015                4,309      15,194,302                           28.4
15  2016                4,138      14,748,778                           28.1
16  2017                4,413      14,325,195                           30.8
17  2018                4,408      13,986,920                           31.5
18  2019                4,011      13,576,124                           29.5
19  2020                3,706      13,397,918                           27.7

   NonRecentVHAMaleSuicides MaleNonRecentVHApopEst
0                     4,313             20,471,665  \
1                     4,336             19,689,684
2                     4,251             18,970,145
3                     4,159             18,530,003
4                     4,266             18,148,983
5                     4,088             17,616,236
6                     4,322             17,144,858
7                     4,467             16,836,683
8                     4,451             16,357,378
9                     4,447             15,933,328
10                    4,146             15,505,248
11                    4,174             15,062,243
12                    4,136             14,779,970
13                    4,172             14,354,229
14                    4,091             13,827,505
15                    3,941             13,413,611
16                    4,129             12,966,948
17                    4,132             12,615,866
18                    3,784             12,194,717
19                    3,526             11,999,522

    MaleNonRecentVHAuserCrudeRate/100,000  FemaleNonRecentVHAuserSuicides
0                                    21.1                             117  \
1                                    22.0                              96
2                                    22.4                             116
3                                    22.4                             121
4                                    23.5                             133
5                                    23.2                             138
6                                    25.2                             135
7                                    26.5                             156
8                                    27.2                             168
9                                    27.9                             169
10                                   26.7                             178
11                                   27.7                             160
12                                   28.0                             180
13                                   29.1                             204
14                                   29.6                             218
15                                   29.4                             197
16                                   31.8                             284
17                                   32.8                             276
18                                   31.0                             227
19                                   29.4                             180

   FemaleNonRecentVHAuserPopEst  FemaleNonRecentVHAuserCrudeRate/100,000
0                     1,362,616                                      8.6
1                     1,397,767                                      6.9
2                     1,402,606                                      8.3
3                     1,431,538                                      8.5
4                     1,501,101                                      8.9
5                     1,465,190                                      9.4
6                     1,405,279                                      9.6
7                     1,350,612                                     11.6
8                     1,370,323                                     12.3
9                     1,354,372                                     12.5
10                    1,376,066                                     12.9
11                    1,373,443                                     11.6
12                    1,377,604                                     13.1
13                    1,354,246                                     15.1
14                    1,366,797                                     15.9
15                    1,335,167                                     14.8
16                    1,358,247                                     20.9
17                    1,371,055                                     20.1
18                    1,381,408                                     16.4
19                    1,398,398                                     12.9

20

In [79]:
import pandas as pd
import sqlite3

#Set connection to SQLite Database
conn=sqlite3.connect("Vet-Suicide-Rates.db")
c=conn.cursor()

#open and read file
open("NonRecentVHAbyAge.csv")
ndf=pd.read_csv("NonRecentVHAbyAge.csv")

# print(ndf) #error check and check actual names for columns in preparation for changing column names to an acceptable format for SQlite

#Rename Columns
ndf.rename(columns={"Year\nof\nDeath":'Year','Age\nGroup':"AgeGroup",'Other\nVeteran\nSuicide\nDeaths':'NonRecentVHAsuicides','Other\nVeteran\nPopulation\nEstimate':'NonRecentVHAuserPopEst','Other\nVeteran\nCrude\nRate per\n100,000':'NonRecentVHAcrudeRate/100,000'},inplace=True)
# ndf.head()
# print(ndf)#error check

# #export to SQLite DB
ndf.to_sql('NonRecentVHAbyAge.sql',conn,if_exists='replace',index=False)

100